<!-- AGE : text input -->

<div class="form-group">
  <label class="col-md-4 control-label" for="age">อายุ</label>
  <div class="col-md-2">
    <input id="age" name="age" type="text" placeholder="อายุเป็นปี" class="form-control input-md" />
  </div>
  <div class="col-md-6 top25">
    ปี
  </div>  
</div>
