<!-- Dead date : dateselect -->

<div class="form-group">
  <label class="col-md-4 control-label" for="dead">วันที่ตาย</label>
  <div class="col-md-4">
    <input id="dead" name="dead" class="form-control input-md datepicker" type="text" />
  </div>
</div>
