<!-- Modal -->
<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">เลือกสาเหตุการตายจากการประมวลผล</h4>
      </div>
      <div class="modal-body">
        <div id="process_text"></div>
      </div>
      <div class="modal-footer">
        <button id="cod_btn" type="button" class="btn btn-default" data-dismiss="modal">ตกลง</button>
      </div>
    </div>
    
  </div>
</div>