<!-- PID13 : text input -->
<div class="form-group">
  <label class="col-md-4 control-label" for="pid13">PID13</label>  
  <div class="col-md-4">
    <input id="pid13" name="pid13" type="text" placeholder="เลขบัตรประชาชนผู้ตาย" class="form-control input-md">
  </div>
</div>
