<!-- SEX : radio input -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sex">เพศ</label>
  <span class="col-md-1">
    <label class="radio-inline" for="sex-1">
      <input type="radio" name="sex" id="sex-1" value="1">
      ชาย
      </input>
    </label>
  </span>
  <span class="col-md-1">
    <label class="radio-inline" for="sex-2">
      <input type="radio" name="sex" id="sex-2" value="2">
      หญิง
      </input>
    </label>
  </span>
  <span class="col-md-2">
    <label class="radio-inline" for="sex-3">
      <input type="radio" name="sex" id="sex-3" value="3">
      ไม่ทราบชัด
      </input>
    </label>
  </span>  
</div>
