<!-- natural > congen -->

<div id="congen" class="org8 none">
  <div id="congen0" class="form-group org">
    <label class="col-md-4 control-label">เคยรักษาโรค / มีโรคประจำตัว</label>
    <table border="0">
      <tr>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org8-yes" src="/assets/yes.png"/></figure></span></th>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org8-no" src="/assets/no.png"/></figure></span></th>
        <td><button id="org8" class="btn disabled">โรคพิการแต่กำเนิด</button></td>
      </tr>
    </table>
  </div>

  <div id="congen1" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-8">
      <select class="selectpicker show-tick" id="cg1" name="cg1" value=""
      data-style="btn-danger" data-width="fit" title="โปรดเลือก"/>
        <option id='cg-0' value='0'></option>
        <option id='cg-1' value='1'>หัวใจพิการแต่กำเนิด</option>
        <option id='cg-2' value='2'>สมองพิการแต่กำเนิด</option>
        <option id='cg-3' value='3'>โรคเลือดธาลัสซีเมีย</option>
        <option id='cg-4' value='4'>โรคพันธุกรรมอื่นๆ ระบุ ...</option>
      </select>
    </div>
  </div>

  <!-- รายละเอียดเพิ่มเติม ระบุ-->
  <div id="congen2" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-6"> 
      <input placeholder="รายละเอียดเพิ่มเติม (#congen2)" type="text" class="form-control" id="cg2" name="cg2">
    </div>
    <div class="col-md-2"></div> 
  </div>

</div>
