<!-- natural > DM -->

<div id="diabetes" class="org3 none">
  <div id="diabetes0" class="form-group org">
    <label class="col-md-4 control-label">เคยรักษาโรค / มีโรคประจำตัว</label>
    <table border="0">
      <tr>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org3-yes" src="/assets/yes.png"/></figure></span></th>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org3-no" src="/assets/no.png"/></figure></span></th>
        <td><button id="org3" class="btn disabled">โรคเบาหวาน</button></td>
      </tr>
    </table>
  </div>

  <div id="diabetes1" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-8">
      <select class="selectpicker show-tick" id="dm1" name="dm1" value="" 
      data-style="btn-danger" data-width="fit" title="โปรดเลือก"/>
        <option id='dm-0' value='0'></option>
        <option id='dm-1' value='1'>มีไตวายเรื้อรังร่วมด้วย</option>
        <option id='dm-2' value='2'>มีแผลเรื้อรังร่วมด้วย</option>
        <option id='dm-3' value='3'>อื่นๆร่วมด้วย ระบุ ...</option>
      </select>
    </div>
  </div>

  <!-- รายละเอียดเพิ่มเติม ระบุ-->
  <div id="diabetes2" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-6"> 
      <input placeholder="รายละเอียดเพิ่มเติม (#dm2)" type="text" class="form-control" id="dm2" name="dm2">
    </div>
    <div class="col-md-2"></div> 
  </div>

</div>
