<!-- natural > gitract -->

<div id="gitract" class="org7 none">
  <div id="gitract0" class="form-group org">
    <label class="col-md-4 control-label">เคยรักษาโรค / มีโรคประจำตัว</label>
    <table border="0">
      <tr>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org7-yes" src="/assets/yes.png"/></figure></span></th>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org7-no" src="/assets/no.png"/></figure></span></th>
        <td><button id="org7" class="btn disabled">โรคทางเดินอาหาร</button></td>
      </tr>
    </table>
  </div>

  <div id="gitract1" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-8">
      <select class="selectpicker" id="gi1" name="gi1" value=""
      data-style="btn-danger" data-width="fit" title="โปรดเลือก"/>
        <option id='gi-0' value='0'></option>
        <option id='gi-1' value='1'>ติดเชื้อทางเดินอาหาร</option>
        <option id='gi-2' value='2'>อุจจาระร่วงเฉียบพลัน ( พบในเด็กเล็ก ผู้สูงอายุ )</option>
        <option id='gi-3' value='3'>กระเพาะทะลุ</option>
        <option id='gi-4' value='4'>ลำไส้อุดตัน</option>        
      </select>
    </div>
  </div>
</div>


