<!-- natural > hiv -->

<div id="hiv" class="org9 none">
  <div id="hiv0" class="form-group org">
    <label class="col-md-4 control-label">เคยรักษาโรค / มีโรคประจำตัว</label>
    <table border="0">
      <tr>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org9-yes" src="/assets/yes.png"/></figure></span></th>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org9-no" src="/assets/no.png"/></figure></span></th>
        <td><button id="org9" class="btn disabled">โรคเอดส์ / เอชไอวี / HIV</button></td>
      </tr>
    </table>
  </div>

  <div id="hiv1" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-8">
      <select class="selectpicker show-tick" multiple id="hi1"
      name="hi1" value=""
      data-style="btn-danger" data-width="fit" title="โปรดเลือก"/>
        <option id='hi-1' value='1'>มีเชื้อราในสมอง</option>
        <option id='hi-2' value='2'>มีเชื้อราในปอด</option>
        <option id='hi-3' value='3'>มีเชื้อราผิวหนังทั่วตัว</option>
        <option id='hi-4' value='4'>มีวัณโรคปอดร่วมด้วย</option>
        <option id='hi-5' value='5'>มีไข้บ่อยๆ / อุจาระร่วงบ่อยๆ</option>
      </select>
    </div>
  </div>

</div>  

