<!-- natural > kidney -->

<div id="kidney" class="org6 none">
  <div id="kidney0" class="form-group org">
    <label class="col-md-4 control-label">เคยรักษาโรค / มีโรคประจำตัว</label>
    <table border="0">
      <tr>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org6-yes" src="/assets/yes.png"/></figure></span></th>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org6-no" src="/assets/no.png"/></figure></span></th>
        <td><button id="org6" class="btn disabled">โรคไต / ทางเดินปัสสาวะ</button></td>
      </tr>
    </table>
  </div>

  <div id="kidney1" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-8">
      <select class="selectpicker" id="ki1" name="ki1" value=""
      data-style="btn-danger" data-width="fit" title="โปรดเลือก"/>
        <option id='ki-0' value='0'></option>
        <option id='ki-1' value='1'>ไตอักเสบ / กรวยไตอักเสบ</option>
        <option id='ki-2' value='2'>นิ่วในไต</option>
        <option id='ki-3' value='3'>ทางเดินปัสสาวะอักเสบ</option>
      </select>
    </div>
  </div>
</div>
