<!-- natural > liver -->

<div id="liver" class="org5 none">
  <div id="liver0" class="form-group org">
    <label class="col-md-4 control-label">เคยรักษาโรค / มีโรคประจำตัว</label>
    <table border="0">
      <tr>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org5-yes" src="/assets/yes.png"/></figure></span></th>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org5-no" src="/assets/no.png"/></figure></span></th>
        <td><button id="org5" class="btn disabled">โรคตับ</button></td>
      </tr>
    </table>
  </div>

  <div id="liver1" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-8">
      <select class="selectpicker" id="li1" name="li1" value=""
      data-style="btn-danger" data-width="fit" title="โปรดเลือก"/>
        <option id='li-0' value='0'></option>
        <option id='li-1' value='1'>ตับแข็ง</option>
        <option id='li-2' value='2'>ตับแข็งจากสุรา</option>
        <option id='li-3' value='3'>พิษสุราเรื้อรัง</option>
        <option id='li-4' value='4'>พิษสุราเฉียบพลัน</option>
        <option id='li-5' value='5'>ตับอักเสบเฉียบพลัน</option>
      </select>
    </div>
  </div>
</div>
