<!-- natural > lung-->

<div id="lung" class="org4 none">
  <div id="lung0" class="form-group org">
    <label class="col-md-4 control-label">เคยรักษาโรค / มีโรคประจำตัว</label>
    <table border="0">
      <tr>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org4-yes" src="/assets/yes.png"/></figure></span></th>
        <th class="yn"><span class="hover01 column"><figure><img class="yesno" id="org4-no" src="/assets/no.png"/></figure></span></th>
        <td><button id="org4" class="btn disabled">โรคปอด / หลอดลม</button></td>
      </tr>
    </table>
  </div>

  <div id="lung1" class="form-group org none">
    <div class="col-md-4 control-label"></div>
    <div class="col-md-8">       
      <select class="selectpicker show-tick" id="lu1" name="lu1" value=""
      data-style="btn-danger" data-width="fit" title="โปรดเลือก"/>
        <option id='lu-0' value='0'></option>
        <option id='lu-1' value='1'>วัณโรคปอด ที่ไม่มีประวัติติดเชื้อเอดส์ หรือ เอชไอวี</option>
        <option id='lu-2' value='2'>ปอดอักเสบ ที่เกิดก่อนเข้ารักษาในโรงพยาบาล</option>
        <option id='lu-3' value='3'>ถุงลมโป่งพอง / ปอดอุดกั้นเรื้อรัง</option>
        <option id='lu-4' value='4'>หลอดลมอักเสบเรื้อรัง (มีประวัติสูบบุหรี่จัด หรือทำงานที่มีฝุ่นละอองมาก)</option>
      </select>
    </div>
  </div>
</div>
