<!-- natural > mother -->

<!-- mother detail (mo) 10-49 year-->
<div class="org">
  <div id="mother" class="none">
    <div id="mother0" class="form-group">
      <label class="col-md-4 control-label" for="mo0">มีการตั้งครรภ์ก่อนเสียชีวิตหรือไม่ ?</label>
      <div class="col-md-4">
        <select id="mo0" name="mo0" class="selectpicker show-tick">
          <option value="0"></option>
          <option value="1">ใช่</option>
          <option value="2">ไม่ใช่</option>
          <option value="3">ไม่ทราบ</option>
        </select>
      </div>
    </div>

    <div id="mother1" class="form-group none">
      <label class="col-md-4 control-label" for="mo1">ถ้าเสียชีวิตระหว่างการตั้งครรภ์ ให้สอบถามและระบุว่าเกิดจากสาเหตุใดต่อไปนี้</label>
      <div class="col-md-4">
        <select id="mo1" name="mo1" class="selectpicker show-tick">
          <option value="0"></option>
          <option value="1" data-subtext="ครรภ์เป็นพิษ (มีอาการบวม ความดันโลหิตสูง อาจชักเกร็งหรือตกเลือดได้)">1</option>
          <option value="2" data-subtext="ตั้งครรภ์นอกมดลูก (ต้องระบุโดยแพทย์แผนปัจจุบันเท่านั้น)">2</option>
          <option value="3" data-subtext="น้ำคร่ำอุดตันเส้นเลือด (ต้องระบุโดยแพทย์แผนปัจจุบันเท่านั้น)">3</option>
          <option value="4" data-subtext="ตั้งครรภ์ไข่ปลาอุก (ต้องระบุโดยแพทย์แผนปัจจุบันเท่านั้น)">4</option>
          <option value="5" data-subtext="ติดเชื้อระหว่างตั้งครรภ์ (ต้องระบุโดยแพทย์แผนปัจจุบันเท่านั้น)">5</option>
          <option value="6" data-subtext="สาเหตุอื่นๆ ระบุ...">6</option>
        </select>
      </div>
    </div>

    <div id="mother2" class="form-group none">
      <label class="col-md-4 control-label" for="mo2">รายละเอียดเพิ่มเติม</label>
      <div class="col-md-4">
        <input id="mo2" name="mo2" type="text" class="form-control input-md" placeholder="เฉพาะที่แพทย์แผนปัจจุบันบอก">
      </div>
    </div>

  </div>
</div>