<!-- unnatural 3 categories-->

<div id="unnat_category" class="form-group none">
  <label class="col-md-4 control-label" for="unnat_category">สาเหตุหลัก</label>
  <div class="col-md-8">
    un0
    <a id="accident" href="#accident_category"
      class="btn btn-info">อุบัติเหตุ</a>
    <a id="assault" href="#assault_category"
      class="btn btn-warning">ถูกทำร้าย</a>
    <a id="suicide" href="#suicide_category"
      class="btn btn-success">ฆ่าตัวตาย</a>
  </div>
</div>
