<!-- unnatural > assault-->

<div id="assault" class="none">
  <div id="assault0" class="form-group org">
    <div class="col-md-4 control-label">วิธีการ</div>
    <div class="col-md-8"> 
      <select class="selectpicker show-tick" id="as0" name="as0" value="" 
      data-style="btn-warning" title="โปรดเลือก">
        <option id='as-0' value='0'></option>
        <option id='as-1' value='1'>ถูกรัดคอ</option>
        <option id='as-2' value='2'>ถูกวางยาพิษ</option>
        <option id='as-3' value='3'>ถูกยิงด้วยอาวุธปืน</option>
        <option id='as-4' value='4'>ถูกแทงหรือฟันด้วยของมีคม</option>
        <option id='as-5' value='5'>ถูกจับกดน้ำหรือผลักตกน้ำ</option>
        <option id='as-6' value='6'>ถูกผลักจากที่สูง</option>
        <option id='as-7' value='7'>ถูกไฟฟ้าช้อต</option>
        <option id='as-8' value='8'>ถูกวางระเบิด</option>
        <option id='as-9' value='9'>อื่นๆ ระบุ</option>
      </select>
    </div>
  </div>

  <!-- รายละเอียดเพิ่มเติม ระบุ-->
  <div id="assault1" class="form-group org none">
    <label class="col-md-4 control-label" for="as1">วิธีการอื่นๆ</label>
    <div class="col-md-6"> 
      <input placeholder="รายละเอียดเพิ่มเติม (#as1)" type="text" class="form-control" id="as1" name="as1" />
    </div> 
  </div>

</div>

