<!-- unnatural > suicide-->

<div id="suicide" class="none">
  <div id="suicide0" class="form-group org">
    <div class="col-md-4 control-label">วิธีการ</div>
    <div class="col-md-8"> 
      <select class="selectpicker show-tick" id="sc0" name="sc0" value="" 
      data-style="btn-success" title="โปรดเลือก"/>
        <option id='sc-0' value='0'></option>
        <option id='sc-1' value='1'>ผูกคอ</option>
        <option id='sc-2' value='2'>ดื่มยาพิษ</option>
        <option id='sc-3' value='3'>ใช้อาวุธปืน</option>
        <option id='sc-4' value='4'>ใช้ของมีคม</option>
        <option id='sc-5' value='5'>กระโดดน้ำ</option>
        <option id='sc-6' value='6'>กระโดดจากที่สูง</option>
        <option id='sc-7' value='7'>ใช้ไฟฟ้า</option>
        <option id='sc-8' value='8'>อื่นๆ ระบุ</option>
      </select>
    </div>
  </div>

  <!-- รายละเอียดเพิ่มเติม ระบุ-->
  <div id="suicide1" class="form-group org none">
    <label class="col-md-4 control-label" for="sc1">วิธีการอื่นๆ</label>
    <div class="col-md-6"> 
      <input placeholder="รายละเอียดเพิ่มเติม (#sc1)" type="text" class="form-control" id="sc1" name="sc1" />
    </div> 
  </div>

</div>

